# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Xcode project user-specific files
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved
.build/

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/

# fastlane (if ever used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
